asgiref
certifi
cffi
charset-normalizer
click
colorama
crispy-bootstrap5
cryptography
cssbeautifier
Django
django-allauth
django-ckeditor
django-cors-headers
django-crispy-forms
django-environ
django-js-asset
djangorestframework
djangorestframework_simplejwt
djlint
EditorConfig
idna
jsbeautifier
json5
mysqlclient
numpy
pathspec
pillow
pycparser
PyJWT
python-dateutil
python-decouple
pytz
PyYAML
qrcode
regex
requests
six
sqlparse
sslcommerz-lib
tqdm
tzdata
urllib3
vaderSentiment

gunicorn
whitenoise

psycopg2-binary
